apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: geoint-web-hpa
  namespace: geoint
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: geoint-web
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
